  table {

    font-family: sans-serif;
	text-align: center;
    border-collapse: separate;
    border-spacing: 5px;
	
    background: #ffff;
    border-radius: 8px;
    color: #656665;
    width: 964.8px;
    height: 100px;
    margin-top: 30px;
  }
   @media screen and (max-width: 768px) {
    table {
		width: auto;
	}
  }   
  th {
	  font-size: 13px;
	  padding: 10px;
	  font-weight: normal;
	  text-align: center;
	  background: #ffff;
	  border-top: 1px solid #b3b3b3b3;
	  border-bottom: 1px solid #b3b3b3b3;
  }
  td {
	   background: #ffff;
       border: 2px #b3b3b3b3;
  }
h2 {
    position: relative;
	color: #ffff;
	right: 16px;
	bottom: 22px;
    font-size: 20px;
	width: 18px;
	height: 17px;
	margin: 2px;
	text-align:  center;
	padding-top: 0px;
}
div.oform {
	width: max-width;
	height: 42.4px;
	margin-bottom: 100px;
}
input.qtybox {
	background: #ffff;
	padding: 0px;
	border: 1px solid #b3b3b3b3;
    width: 50px;
}
input[type="submit"] {
    width: 206.8px;
	height: 42.4px;
	color: #ffff;
	background: #816263;
	font-size: 19px;
    margin-left: px;
	border-radius: 8px;
	border: none;
	margin-top: 1px;
	margin-bottom: 1px;
	float: right;
	margin-right: 150px;
}
form  {
		margin-top: 5px;
}
input[type="submit"]:hover  {
		background-color: #000000;
}
input[type="submit"]:active  {
		background-color: #800000;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
input.qtybox1:hover {
	background-color: #000000;
}
 .header-top-left ul li a img {
	  margin-bottom: 4px;
  }
  .header-right ul li {
    display: inline-block;
	margin-right:15px;
  }
  .header-right ul li a {
	color:#fff;
	text-decoration:none;
	font-size:15px;
  }
  .header-right ul li a img {
	  margin-bottom: 4px;
  }
                 @media screen and (max-width: 2560px) {
div.oform input[type="submit"] {
	float: right;
	margin-right: 830px;
}
input[type="submit"] {
	float: right;
	margin-right: 830px;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
}
        	@media screen and (max-width: 2300px) {
div.oform input[type="submit"] {
	float: right;
	margin-right: 700px;
}
input[type="submit"] {
	float: right;
	margin-right: 700px;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
}
        	@media screen and (max-width: 2100px) {
div.oform input[type="submit"] {
	float: right;
	margin-right: 600px;
}
input[type="submit"] {
	float: right;
	margin-right: 600px;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
}
        	@media screen and (max-width: 1900px) {
div.oform input[type="submit"] {
	float: right;
	margin-right: 500px;
}
input[type="submit"] {
	float: right;
	margin-right: 500px;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
}
        	@media screen and (max-width: 1700px) {
div.oform input[type="submit"] {
	float: right;
	margin-right: 400px;
}
input[type="submit"] {
	float: right;
	margin-right: 400px;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
}
        	@media screen and (max-width: 1500px) {
div.oform input[type="submit"] {
	float: right;
	margin-right: 300px;
}
input[type="submit"] {
	float: right;
	margin-right: 300px;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
}
        	@media screen and (max-width: 1440px) {
div.oform input[type="submit"] {
	float: right;
	margin-right: 270px;
}
input[type="submit"] {
	float: right;
	margin-right: 270px;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
}
        	@media screen and (max-width: 1200px) {
div.oform input[type="submit"] {
	float: right;
	margin-right: 150px;
}
input[type="submit"] {
	float: right;
	margin-right: 150px;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
}
		    @media screen and (max-width: 1024px) {
div.oform input[type="submit"] {
	float: right;
	margin-right: 60px;
}
input[type="submit"] {
	float: right;
	margin-right: 60px;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
}
        	 @media screen and (max-width: 968px) {
    table {
		width: auto;
	}
table img {
	width: 200px;
	height: 350px;
}
th {
	padding: 2px;
	font-size: 11px;
}
td {
	padding: 2px;
	font-size: 11px;		 
}
div.oform input[type="submit"] {
	float: right;
	margin-right: 5px;
}
input[type="submit"] {
	float: right;
	margin-right: 5px;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
input.qtybox {
    width: 30px;
}
}
        	 @media screen and (max-width: 868px) {
    table {
		width: auto;
	}
table img {
	width: 150px;
	height: 350px;
}
th {
	padding: 2px;
	font-size: 11px;
}
td {
	padding: 2px;
	font-size: 11px;		 
}
div.oform input[type="submit"] {
	float: right;
	margin-right: 5px;
}
input[type="submit"] {
	float: right;
	margin-right: 5px;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
input.qtybox {
    width: 30px;
}
}
        	 @media screen and (max-width: 768px) {

table img {
	width: 200px;
	height: 350px;
}
th {
	padding: 2px;
	font-size: 11px;
}
td {
	padding: 2px;
	font-size: 11px;		 
}
div.oform input[type="submit"] {
	float: right;
	margin-right: 5px;
}
input[type="submit"] {
	float: right;
	margin-right: 5px;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
input.qtybox {
    width: 30px;
}
}
	 @media screen and (max-width: 426px) {

table img {
	width: 85px;
	height: 160px;
}
th {
	padding: 1px;
	font-size: 8px;
}
td {
	padding: 1px;
	font-size: 8px;		 
}
div.oform input[type="submit"] {
	float: right;
	margin-right: 100px;
}
input[type="submit"] {
	float: right;
	margin-right: 100px;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
input.qtybox {
    width: 20px;
}
}
    	 @media screen and (max-width: 375px) {

table img {
	width: 85px;
	height: 160px;
}
th {
	padding: 1px;
	font-size: 8px;
}
td {
	padding: 1px;
	font-size: 8px;		 
}
div.oform input[type="submit"] {
	float: right;
	margin-right: 80px;
}
input[type="submit"] {
	float: right;
	margin-right: 80px;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
input.qtybox {
    width: 20px;
}
}
   	 @media screen and (max-width: 320px) {

table img {
	width: 85px;
	height: 160px;
}
th {
	padding: 1px;
	font-size: 8px;
}
td {
	padding: 1px;
	font-size: 8px;		 
}
div.oform input[type="submit"] {
	float: right;
	margin-right: 55px;
}
input[type="submit"] {
	float: right;
	margin-right: 55px;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
input.qtybox {
    width: 20px;
}
h1 {
	font-size: 24px;
}
.logo a {
	display: middle;	
}
}
   	 @media screen and (max-width: 250px) {

table img {
	width: 55px;
	height: 120px;
}
th {
	padding: 1px;
	font-size: 6px;
}
td {
	padding: 1px;
	font-size: 6px;		 
}
div.oform input[type="submit"] {
	float: right;
	margin-right: 15px;
}
input[type="submit"] {
	float: right;
	margin-right: 15px;
}
input.qtybox1 {
	padding: 0px;
    width: 20px;
	height: 20px;
	margin: auto;
	text-align: center;
	border: none;
	font-size: 14px;
	float: none;
}
input.qtybox {
    width: 20px;
}
h1 {
	font-size: 24px;

}
}